:root {
    --vp-c-brand-1: #d43a01;
    --vp-c-brand-1-light: #fe4601;
    --vp-c-brand-2: #d43a01;
    --vp-c-brand-2-light: #fe4601;
    --vp-c-brand-3: #d43a01;
    --vp-c-brand-3-light: #fe4601;

    --content-width: 940px;
    --homepage-width: 960px;
}

.vp-doc table {
    display: table;
    width: 100% !important;
}